
process {
    withName:DOWNLOAD {
	container = 'pipeline.sif'
    }
    withName:DATASET {
	container = 'cuda.sif'
    }
    withName:MODEL {
	container = 'cuda.sif'
    }
    withName:TRAINXGB {
        container = 'pipeline.sif'
    }
}

singularity {
    enabled = true
    runOptions = '--nv'
}
